@import "tamanios";
@import "colores";
$padding:15px; 
$font:montserrat;
$transition:1s;
$texto:center;
$weight1:bolder;
$weight2:bold;

.paddingTB{padding-top: 50px; padding-bottom: 50px;}

.footerSty{
     text-align:$texto;}
.icoFoo{
    font-size:2rem;
    font-family:$font;
    padding-left: 15px;
    padding-right: 15px;
    
    
    transition:$transition;
    text-align:$texto;

   /* padding{
        left:$padding;
        right:$padding;
    } (No los toma) */
}
 
.icoFoo:hover{color: rgba(255, 255, 255, 0.562);}

.principal__titulo--stylo{
    text-align:$texto;
    font-weight:$weight1;
    font-family:$font;
}

.titulo__encabezado--stylo{
    margin: auto;
    font-family:$font;
    font-weight:$weight1;
}

.container-fluid{
    padding: 0px;
    margin: 0px;
    font-family:$font;
}

.cuadriculas__titulo--stylo{
    font-weight:$weight1;
    font-family:$font;
    padding-top: 10px;
    text-align:$texto;
}

.cuadriculas__body--stylo{
    font-weight:$weight2;
    font-family:$font;
    padding-top: 10px;
    text-align:$texto;
}
.cuadriculas__texto--stylo{
    font-family:$font;
    padding-top: 10px;
    text-align:$texto;
}
.btn-primary{
    font-weight:$weight2;
    text-align:$texto;
    font-family:$font;
    
}

.jumbotron__display--stylo{
    font-weight:$weight2;
    text-align:$texto;
    font-family:$font;
}

.jumbotron__lead--stylo{
    font-weight:$weight2;
    text-align:$texto;
    font-family:$font;
}

.jumbotron__lead2--stylo{
    font-weight:$weight2;
    text-align:$texto;
    font-family:$font;
}

.nav-link{
    font-size: 1.8rem;
    text-transform: uppercase;
    transition:$transition;
}

.nav-link:hover{color: rgba(137, 43, 226, 0.411) !important;}

/*Servicios*/

.mb-3, .my-3{
    padding-right: 50px;
    padding-left: 50px;
}

.subtitulo__page--stylo{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bolder;
    font-family: montserrat;
}

.cuadricula__servicios--style{
    font-weight: bolder;
}

.list-unstyled {
    /* padding-left: 0; */
    list-style: none;
    padding-left: 50px;
    padding-right: 50px;
}

.parrafo__servicios--stylo{
    font-weight: bold;
}

.subtitulo__seguridad--stylo{
    font-weight: bold;
    font-family: montserrat;
    padding-right: 15px;
    padding-left: 15px;
}

.card__seguridad--stylo{
    font-family: montserrat;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}

.card{
    padding-right: 15px;
    padding-left: 15px;
}

/*contacto*/

.formulario__texto--stylo{
    font-family: roboto;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.form-row > .col, .form-row > [class*="col-"] {
    padding-right: 20px;
    padding-left: 20px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding-bottom: 5px;
}

/*ayuda*/

.accordion__titulo--stylo{
    font-weight: bold;
    font-family: montserrat;
}

.accordion__texto--stylo{
    font-weight: bold;
    font-family: roboto;
}