$negro:black;
$blanco:white;
$violeta:blueviolet;

.principal__titulo--color, h1{color:$violeta !important;}
.nav-link{color:$violeta !important;}
.carousel--Txt{color:$blanco;}
.jumbotron__lead2--color{color:$negro;}
.jumbotron__lead--color{color:$negro;}
.jumbotron__display--color{color:$violeta;}
.btn-primary{background-color:$violeta; color:$blanco;}
.cuadriculas__body--color{color:$negro;}
.cuadriculas__titulo--color{color:$violeta;}
.cuadriculas__texto--color{color:$negro;}
.titulo__encabezado--color{color:$negro;}
.tituloSty{color:$violeta;}
.icoFoo{color:$blanco;}
.footerSty{background-color:$violeta; color:$blanco;}
.subtitulo__page--color,h2{color:$violeta !important;}

/*NOSOTROS*/

@each $color in blueviolet, black, white{
    .#{$color}{
        color:#{$color};
    }
}

/*map get*/
$estilos: (
    color: black,
    centro: center,
    upper: uppercase,
    tFuente: 15px,
);
    
.container__fluid--nosotros {
    text-align: map-get($estilos, centro);
    color: map-get($estilos, color);
    font-size:  map-get($estilos, tFuente);
    text-transform: map-get($estilos, upper);
}

/*Nosotros*/
.cuadricula__subtnosotros--color{color:$violeta;}

/*Servicios*/

.cuadricula__servicios--color{color:$violeta;}
.parrafo__servicios--color{color:$negro;}
.subtitulo__seguridad--color{color:$violeta;}
.card__seguridad--color{color:$negro;}

/*ayuda*/
.subtitulo__ayuda--color{color:$violeta;}
.accordion__titulo--color{color:$violeta;}

/*contacto*/

.formulario__texto--color{color:$negro;}

.accordion__texto--color{color:$negro;}






